<!DOCTYPE html>
<html>
  <head>
    <title>{{project_data[0]['name']}}</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
  </head>
<body>
  <h1>You have chosen {{project_data[0]['name']}}</h1>
  <h2>When you are ready to begin, choose step 1 and click submit. After each step do the same with the next step.</h2>
  <div>
    <form action="https://api.particle.io/v1/devices/{{project_data[1]['device_id']}}/{{project_data[1]['function']}}?access_token={{access_key}}" method="POST">
      <input type="submit" name="args" value="on">Start here!
    </form>
    {% for i in range(2,project_data|length) %}
        <button onclick="postForms({{i}})" type="submit" name="args" value="{{i}}">Step {{i+1}}</button>

        <p hidden id='device_id{{i-1}}'>{{project_data[i-1]['device_id']}}</p>
        <p hidden id='function{{i-1}}' >{{project_data[i-1]['function']}}</p>
        <p hidden id='device_id{{i}}' >{{project_data[i]['device_id']}}</p>
        <p hidden id='function{{i}}' >{{project_data[i]['function']}}</p>
    {% endfor %}
  </div>


</body>
</html>
